.nav-link,
.footer-menu,
.other-sections-menu,
.share-item,
.view-more-link {
    list-style: none;
}

.homepage-nav,
.footer-bar,
.footer-bar-post,
.other-sections-list,
.view-more-list,
.share,
.footer-link,
.other-sections-link {
    padding: 0;
    list-style: none;
}

.social-media {
    color: #3daab8;
}

img {
    max-width: 100%;
    height: auto;
}

.clear-button {
    background-color: transparent;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 5px;
}

ol li {
    list-style: decimal inside;
    margin: 2px;
}

ul li {
    list-style: disc inside;
    margin: 2px;
}

ol {
    margin: 5px 15px 10px;
}