.nav-link,
.footer-menu,
.view-more-link {
    list-style: none;
}

.homepage-nav,
.footer-bar,
.footer-bar-post,
.view-more-list,
.share {
    padding: 0;
    list-style: none;
}

.social-media {
    color: #3daab8;
}

img {
    max-width: 100%;
    height: auto;
}

.clear-button {
    background-color: transparent;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 5px;
}

ol,
ul {
    padding: 0 0 0 50px;
}